* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Mono, monospace, sans-serif
}

html {
    background-color: #D9EAF4
}

body {
    width: 95vw;
    margin: auto
}

h1 {
    font-size: 2em;
    font-weight: 700;
}

h3 {
    padding: 1vw;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #707078;
    position: sticky;
    top: 0;
    z-index: 500;

    flex: {
        direction: row;
    }

    h1,
    small {
        color: #D9EAF4;
    }
}

section {

    display: flex;
    flex-direction: row;

    >div {
        z-index: 200;
        height: 300vh;
        background-color: #554640;
        width: 50%
    }

    >div~div {
        z-index: -1;
        background-color: #8DA7BE
    }
}

.row {
    width: 200%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s ease-in-out;
    margin-bottom: 25vh;


    >div>h3,
    >div>h6 {
        color: #554640;
    }

    .picture {
        margin: 10vh;
        width: 100%;
        background: white;
        border-radius: 3px;
        transform: scale(.95);
        transition: .2s ease-in-out;

        img {
            width: 100%;
            padding: 0.5vw;
            height: auto;
            z-index: 100;
        }

        h4 {
            display: none
        }
    }

    .picture:hover {
        transform: scale(1);
        transform: rotateZ(-3deg);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.36);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.36);
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.36);
        cursor: pointer;

        h4 {
            display: block;
        }
    }

    .picture>h4 {
        text-align: center;
        display: none;
        font-family: Patrick Hand, monospace;
        font-size: 1.5em;
        letter-spacing: 2px;
        color: gray
    }

    .specialTitle {
        color: #D9EAF4;
        border-bottom: 3px solid;
        transform: translateX(-15vw);
        font-size: 4vw
    }

    .specialTitle2 {
        color: #D9EAF4;
        border-bottom: 3px solid;
        font-size: 4vw
    }

    h3 {
        padding-right: 7vw
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 50%;
        background-color: white;

        >div {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            >div {
                position: relative;
                border: 1px solid rgba(128, 128, 128, 0.192);
                padding: 5%;

                a {
                    display: inline;
                    text-decoration: none
                }

                .fas {
                    top: -60px;
                    right: 20px;
                }
            }
        }
    }

    @media (max-width: 900px) {
        flex-direction: column;

        >div>h3 {
            color: white
        }

        div:first-child {
            margin-top: 3vh
        }

        .specialTitle {
            transform: translateX(0)
        }

        .card {
            width: 90%
        }
    }
}